<!-- 3DHOP libraries -->
<!--STYLESHEET-->
<link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/3dhop/stylesheet/3dhop.css"/>  
<!--SPIDERGL-->
<script type="text/javascript" src="{{ site.baseurl }}/3dhop/js/spidergl.js"></script>
<!--JQUERY-->
<script type="text/javascript" src="{{ site.baseurl }}/3dhop/js/jquery.js"></script>
<!--PRESENTER-->
<script type="text/javascript" src="{{ site.baseurl }}/3dhop/js/presenter.js"></script>
<!--3D MODELS LOADING AND RENDERING-->
<script type="text/javascript" src="{{ site.baseurl }}/3dhop/js/nexus.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/3dhop/js/ply.js"></script>
<!--TRACKBALLS-->
<script type="text/javascript" src="{{ site.baseurl }}/3dhop/js/trackball_turntable.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/3dhop/js/trackball_turntable_pan.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/3dhop/js/trackball_pantilt.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/3dhop/js/trackball_sphere.js"></script>
<!--UTILITY-->
<script type="text/javascript" src="{{ site.baseurl }}/3dhop/js/init.js"></script>
